body{
    background-color: aqua;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    width: 90%;
    margin: 3rem auto;
    padding: 2rem 1rem;
    border: 1px solid black;
}

.container .post h1{
    color:blue;
}